@using  Microsoft.AspNetCore.Identity
@inject UserManager<IdentityUser> UserManager
@model DetailsViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="home-container">
    <h2 class="header-2">Showing report details</h2>
    <div class="row h-100 w-100 justify-content-center align-items-center">
        <div class="card">
            <img class="card-img-top card-image" src="@Model.Report.ImageUrl" alt="Image for @Model.Report.Title" />
            <div class="card-body">
                <h3 class="card-title">@Model.Report.Title</h3>
                <p class="sm all details-text">Created By: @Model.Report.CreatedBy.Email</p>
                <p class="sm all details-text">Date Created: @Model.Report.DateOfCreation.ToShortDateString()</p>
                <p class="sm all details-text">Status: @Model.Report.Status</p>
                <p class="sm all details-text">Location: @Model.Report.Location</p>
                <p class="sm all details-text">Hazard: @Model.Report.TypeOfHazard</p>
                <p class="sm all details-text details-description">@Model.Report.Description</p>
                <a asp-controller="Reports" asp-action="Index" class="btn btn-primary my-2">Back</a>
                @if (User.Identity.IsAuthenticated)
                {
                    if (UserManager.GetUserAsync(User).Result.Id == Model.Report.CreatedBy.Id)
                    {
                        <div class="row">
                            <form asp-controller="Reports" asp-action="EditReport" method="get">
                                <input id="reportId" name="reportId" type="hidden" value="@Model.Report.Id" />
                                <button type="submit" class="btn btn-primary ml-3">
                                    Edit
                                </button>
                            </form>
                            <form asp-controller="Reports" asp-action="DeleteReport" method="post">
                                <input id="reportId" name="reportId" type="hidden" value="@Model.Report.Id" />
                                <button type="submit" class="btn btn-primary ml-2">
                                    Delete
                                </button>
                            </form>
                        </div>
                        
                    }
                    if (User.IsInRole("Investigator") && Model.Investigation == null)
                    {
                        <form asp-controller="Reports" asp-action="CreateInvestigation" method="get">
                            <input id="reportId" name="reportId" type="hidden" value="@Model.Report.Id" />
                            <button type="submit" class="btn btn-primary">
                                Create Investigation
                            </button>
                        </form>
                    }
                }
            </div>
            
        </div>

        @if (Model.Investigation != null)
        {
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title">Current Investigation</h3>
                    <p class="sm all details-text">Created By: @Model.Investigation.Investigator.Email</p>
                    <p class="sm all details-text">Date Created: @Model.Investigation.DateOfAction</p>
                    <p class="sm all details-description">@Model.Investigation.Description</p>
                    @if (User.Identity.IsAuthenticated)
                    {
                        if (UserManager.GetUserAsync(User).Result.Id == Model.Investigation.Investigator.Id)
                        {
                            <form asp-controller="Reports" asp-action="EditInvestigation" method="get">
                                <input id="investigationId" name="investigationId" type="hidden" value="@Model.Investigation.Id" />
                                <button type="submit" class="btn btn-primary my-2">
                                    Edit
                                </button>
                            </form>
                            <form asp-controller="Reports" asp-action="ChangeStatus" method="post" role="form" enctype="multipart/form-data">
                                <div asp-validation-summary="All" class="text-danger"></div>

                                <input id="id" name="id" type="hidden" class="form-control" value="@Model.Report.Id" />
                                <div class="form-group">
                                    <div class="">
                                        <select id="option" name="option">
                                            <option value="1">Open</option>
                                            <option value="2">Closed</option>
                                            <option value="3">Being investigation</option>
                                            <option value="4">No action required</option>
                                        </select>
                                        <span validation-for="option" class="text-danger"></span>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <div class="">
                                        <input type="submit" class="btn btn-primary" value="Change Status" />
                                    </div>
                                </div>
                            </form>
                                }
                                }
                        </div>

            </div>

        }

    </div>
</div>
