@model ReportsListViewModel

@{
    ViewData["Title"] = "Reports";
}

<h1>Nemesys</h1>
<h2>Showing @Model.ReportsCount reports</h2>
<div class="row reports">
    @foreach (var report in Model.ReportWithUpvotes)
    {
        <div class="card">
            <img class="card-img-top card-image" src="@report.Report.ImageUrl" alt="Image for @report.Report.Title" />
            <div class="card-body">
                <h3 class="card-title">@report.Report.Title</h3>
                <p class="sm all">@report.Report.DateOfCreation.ToShortDateString()</p>
                <p class="sm all">Likes: @report.Upvotes</p>
                <div class="row">
                    <form class="px-2" asp-controller="Reports" asp-action="Details" asp-route-id="@report.Report.Id" method="get">
                        <button type="submit" class="btn btn-lg btn-primary btn-details">
                            Details
                        </button>
                    </form>
                    <form class="px-2" asp-controller="Reports" asp-action="UpvoteReport" method="post">
                        <input id="reportId" name="reportId" type="hidden" value="@report.Report.Id" />
                        <button class="like-button" type="submit"><img class="like-image" src="~/images/like.png"/>
                        </button>
                    </form>
                </div>
            </div>
        </div>
    }
</div>